// Put your custom SCSS code here
.btn-grad {
  --bs-btn-color: #fff;
  // --bs-btn-bg: #5d2f86;
  --bs-btn-border-color: #5d2f86;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4f2872;
  --bs-btn-hover-border-color: #4a266b;
  --bs-btn-focus-shadow-rgb: 117, 78, 152;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4a266b;
  --bs-btn-active-border-color: #ff8e38;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #5d2f86;
  --bs-btn-disabled-border-color: #5d2f86;
  background-image: linear-gradient(180deg, #f56302 0%, #ff9f47  100%);
}

[data-bs-theme="dark"]
.btn-grad {
  --bs-btn-color: #000;
  // --bs-btn-bg: #b3c7ff;
  --bs-btn-border-color: #b3c7ff;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #becfff;
  --bs-btn-hover-border-color: #bacdff;
  --bs-btn-focus-shadow-rgb: 152, 169, 217;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c2d2ff;
  --bs-btn-active-border-color: #bacdff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #b3c7ff;
  --bs-btn-disabled-border-color: #b3c7ff;
  color: #17181c;
  background-image: linear-gradient(180deg, #FD7F2C 0%, #FDB777  100%);
}

a {
  color: #0066b2
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5d2f86;
  --bs-btn-border-color: #5d2f86;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4f2872;
  --bs-btn-hover-border-color: #4a266b;
  --bs-btn-focus-shadow-rgb: 117, 78, 152;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4a266b;
  --bs-btn-active-border-color: #462365;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #5d2f86;
  --bs-btn-disabled-border-color: #5d2f86; }

